<%inherit file="/base.html"/>

<script src="${STATIC_URL}client/controllers/home.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/site.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/add_bug.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/test.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/add_user.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/change_user.js" type="text/javascript"></script>

<script src="${STATIC_URL}client/controllers/business.js" type="text/javascript"></script>

<!--此处添加js-->

